@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
    max-width: 100%;
  }
  #header button {
    font-size: 14px;
    z-index: 5;
  }
  #face {
    height: 80vw;
  }
  #face h1 {
    margin-top: 20vw;
    font-size: 48px;
    top: -40vw;
    background-size: 100px;
  }

  #face img {
    width: 60%;
  }
  #content {
    display: block;
  }

  #about_us::after {
    content: "";
    width: 0;
    height: 0;
    background-color: transparent;
  }
  #about_us h2 {
    font-size: 28px;
  }
  #about_us p {
    font-size: 14px;
  }
  #content img {
    width: 34vw;
    height: 34vw;
  }
  video {
    margin-top: 30px;
    width: 90vw;
    height: auto;
  }
  #regular_show {
    display: none;
  }
  .box {
    height: 50px;
    width: 60px;
  }
  #dec1 {
    width: 350px;
    height: 200px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.297));
    z-index: 4;
  }
  #back1 {
    width: 45%;
    top: 10px;
    left: 60%;
  }
  #events{
    height: 300px
  }
  #viola {
    width: 120%;
    left: -500px;
    top: -15%;
  }
  .sec{
    width: 40%;
    filter:blur(0px);
  }
  .sec img{
    width: 100px;
    height: 100px;
  }
  #sec3 {
    display: none;
  }
  

  #desc img{
    width: 80%;
    height: auto;
    right: -10%;
    top:100%;
    translate: 0% -100%;
    animation: back3_anim 10s ease-in-out infinite; 
  }
  #desc p{
    position: relative;
    left: -20%;
    width: 50%;
    font-size: 16px;
  }
  #events h1{
    font-size: 64px;
    left:1%;
    top:35%;
    
  }
  @keyframes viola_sc {
    to{
      left: -170px;
      opacity: 1;
    }
  }
  @keyframes back3_anim {
    0%{right: -25px;}
    50%{right: -10%;}
    100%{right: -25px;}
  }
}
